* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

.content-padded {
  padding: 10px;
}

.signin-view {
  background-color: #B61F1F;
}

.compare-view {
  background-color: white;
}


#email, #password, .signin-submit{
  background-color: white !important;
  display: inline-block;
  padding: 16px 10px;
  margin: 0px auto !important;
  width: 70vw;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #dcdcdc;
  border-color: rgba(0,0,0, .135);
  background-color: transparent;
  color: #999;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
/*  height: 6vh;
*/}

input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input::-moz-placeholder {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input:-ms-input-placeholder { 
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}

.signin-submit {
  color: #B61F1F;
  margin-top: 20px !important; 
  width: 77vw;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 95%;
}

#stid, .compare-submit{
  background-color: white !important;
  display: inline-block;
  padding: 16px 10px;
  margin: 0px auto !important;
  width: 70vw;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #dcdcdc;
  border-color: rgba(0,0,0, .135);
  background-color: transparent;
  color: #999;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
/*  height: 6vh;
*/}

input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input::-moz-placeholder {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input:-ms-input-placeholder { 
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}

.compare-submit{
  background-color: #B61F1F !important;
  display: inline-block;
  padding: 16px 10px;
  margin: 0px auto !important;
  width: 70vw;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #dcdcdc;
  border-color: rgba(0,0,0, .135);
  background-color: transparent;
  color: #999;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
/*  height: 6vh;
*/}

input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input::-moz-placeholder {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}
input:-ms-input-placeholder { 
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #b61f1f;
}

.compare-submit {
  color: white;
  margin-top: 20px !important; 
  width: 77vw;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  height: 95%;
}

.add-results {
  color: white !important; 
  width: 77vw;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 95%;
  background-color: #B61F1F !important;
  display: inline-block;
  padding: 16px 10px;
  margin: 0px auto !important;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-color: rgba(0,0,0, .135);
  background-color: transparent;
  color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.input-stid {
  color: #6E6E6E;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.title-stid {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 66px;
  position: relative;
  margin: 0.25em auto 0.15em auto;
}

.title-stid span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50px;
  position: relative;
  margin: 0.25em auto 0.15em auto;
}

.title-welcome {
  color: #B61F1F;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 58px;
  position: relative;
  margin: 0.25em auto 0.15em auto;
}

.tagline {
  color: white;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 80vw !important;
}